* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: monospace;
  font-size: 1.3em;
  text-align: center;
}

/* Header section */
header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav {
  background-color: lightgray;
  padding: 15px;
  font-size: 1rem;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 12px;
}

nav ul {
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
  color: #333;
  list-style-type: none;
}

nav ul li a {
  color: #333;
  font-weight: 500;
}

/* Main section */
main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

/* About me sectiom */

/* Skills section */
.skills-item {
  border: 3px solid black;
  padding: 10px;
  border-radius: 15px;
}

.skills h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.skills-item ol {
  list-style-type: none;
}

/* Contact section */

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
}
